<% layout('layouts/boilerplate') %>

<p class="pb-3">losing weight is already hard enough</p>

<h2 class="fs-5 alert alert-secondary col-6 offset-3 p-2"><%= today %></h2>

<div class="d-flex my-4 col-10 offset-1 mx-auto" style="max-width: 500px">
    <div class="col">
        <h3 class="display-5 fw-semibold mb-0"><%= dailyStats ? dailyStats.totalMealKcal : '0' %></h3>
        <p class="mt-0">kcal</p>
        <svg class="px-4 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#e8eaed" d="M416 0C400 0 288 32 288 176l0 112c0 35.3 28.7 64 64 64l32 0 0 128c0 17.7 14.3 32 32 32s32-14.3 32-32l0-128 0-112 0-208c0-17.7-14.3-32-32-32zM64 16C64 7.8 57.9 1 49.7 .1S34.2 4.6 32.4 12.5L2.1 148.8C.7 155.1 0 161.5 0 167.9c0 45.9 35.1 83.6 80 87.7L80 480c0 17.7 14.3 32 32 32s32-14.3 32-32l0-224.4c44.9-4.1 80-41.8 80-87.7c0-6.4-.7-12.8-2.1-19.1L191.6 12.5c-1.8-8-9.3-13.3-17.4-12.4S160 7.8 160 16l0 134.2c0 5.4-4.4 9.8-9.8 9.8c-5.1 0-9.3-3.9-9.8-9L127.9 14.6C127.2 6.3 120.3 0 112 0s-15.2 6.3-15.9 14.6L83.7 151c-.5 5.1-4.7 9-9.8 9c-5.4 0-9.8-4.4-9.8-9.8L64 16zm48.3 152l-.3 0-.3 0 .3-.7 .3 .7z"/></svg>
    </div>

    <div class="col border-start border-end">
        <h3 class="display-5 fw-semibold mb-0"><%= dailyStats ? dailyStats.totalWorkoutKcal : '0' %></h3>
        <p class="mt-0">kcal</p>
        <svg class="px-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="#e8eaed" d="M96 64c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32l0 160 0 64 0 160c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-64-32 0c-17.7 0-32-14.3-32-32l0-64c-17.7 0-32-14.3-32-32s14.3-32 32-32l0-64c0-17.7 14.3-32 32-32l32 0 0-64zm448 0l0 64 32 0c17.7 0 32 14.3 32 32l0 64c17.7 0 32 14.3 32 32s-14.3 32-32 32l0 64c0 17.7-14.3 32-32 32l-32 0 0 64c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-160 0-64 0-160c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32zM416 224l0 64-192 0 0-64 192 0z"/></svg>
    </div>
    
    <div class="col">
        <h3 class="display-5 fw-semibold mb-0"><%= dailyStats ? dailyStats.kcalBalance : '0' %></h3>
        <p class="mt-0">kcal</p>
        <svg class="px-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="#e8eaed" d="M384 32l128 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L398.4 96c-5.2 25.8-22.9 47.1-46.4 57.3L352 448l160 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-192 0-192 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l160 0 0-294.7c-23.5-10.3-41.2-31.6-46.4-57.3L128 96c-17.7 0-32-14.3-32-32s14.3-32 32-32l128 0c14.6-19.4 37.8-32 64-32s49.4 12.6 64 32zm55.6 288l144.9 0L512 195.8 439.6 320zM512 416c-62.9 0-115.2-34-126-78.9c-2.6-11 1-22.3 6.7-32.1l95.2-163.2c5-8.6 14.2-13.8 24.1-13.8s19.1 5.3 24.1 13.8l95.2 163.2c5.7 9.8 9.3 21.1 6.7 32.1C627.2 382 574.9 416 512 416zM126.8 195.8L54.4 320l144.9 0L126.8 195.8zM.9 337.1c-2.6-11 1-22.3 6.7-32.1l95.2-163.2c5-8.6 14.2-13.8 24.1-13.8s19.1 5.3 24.1 13.8l95.2 163.2c5.7 9.8 9.3 21.1 6.7 32.1C242 382 189.7 416 126.8 416S11.7 382 .9 337.1z"/></svg>
    </div>
</div>

<section class="mb-2">
    <h2 class="fs-4">add a new log</h2>
    <div class="mx-auto d-lg-flex col-10">
        <a href="/logs/meals/new" class="btn btn-secondary btn-lg col-12 col-lg mb-3 mx-lg-2">meal</a>

        <a href="/logs/workouts/new" class="btn btn-secondary btn-lg col-12 col-lg mb-3 mx-lg-2">workout</a>
    </div>
</section>

<section class="mb-2">
    <h2 class="fs-4">check your progress</h2>
    <div class="mx-auto d-lg-flex col-10">
        <% if(dailyStats) { %>
            <a href="/logs/today" class="btn btn-secondary btn-lg col-12 col-lg mb-3 mx-lg-2">daily log</a>
        <%  } else { %>
            <a href="/logs/today" class="btn btn-secondary btn-lg col-12 col-lg mb-3 mx-lg-2 disabled">daily log</a>
        <% } %>

        <a href="/logs/" class="btn btn-secondary btn-lg col-12 col-lg mb-3 mx-lg-2">weekly progress</a>
    </div>
</section>

<section>
    <h2 class="fs-4">manage the database</h2>
    <div class="mx-auto d-lg-flex col-10">
        <a href="/db/meals" class="btn btn-secondary btn-lg col-12 col-lg mb-3 mx-lg-2">meals</a>

        <a href="/db/ingredients" class="btn btn-secondary btn-lg col-12 col-lg mb-3 mx-lg-2">ingredients</a>
    </div>
</section>