<% layout('layouts/boilerplate') %>

<a href="/kcalog/logs" class="display-5 d-block text-decoration-none text-dark fw-semibold my-3">Daily Logs</a>

<a href="/kcalog/logs/meals" class="btn btn-primary btn-lg">Meal Logs</a>

<a href="/kcalog/logs/exercises" class="btn btn-info btn-lg">Exercise Logs</a>

<a href="/kcalog/db" class="display-5 d-block text-decoration-none text-dark fw-semibold my-3">Database</a>

<a href="/kcalog/db/ingredients" class="btn btn-primary btn-lg">Ingredients</a>

<a href="/kcalog/db/meals" class="btn btn-info btn-lg">Meals</a>