<% layout('layouts/boilerplate') %>

<h2 class="display-5 fw-semibold mt-0 mb-3">Database</h2>

<div class="d-flex flex-column">
    <a href="/kcalog/db/ingredients" class="btn btn-primary btn-lg my-3 col-6 offset-3">Ingredients</a>

    <a href="/kcalog/db/meals" class="btn btn-info btn-lg my-3 col-6 offset-3">Meals</a>
</div>